apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: paynext-payment-service-policy
  namespace: paynext
spec:
  podSelector:
    matchLabels:
      app: payment-service
  ingress:
    - from:
        - podSelector:
            matchLabels:
              app: api-gateway
      ports:
        - protocol: TCP
          port: 8004
  egress:
    - to:
        - podSelector:
            matchLabels:
              app: eureka-server
      ports:
        - protocol: TCP
          port: 8001
    # Allow egress to payment gateway (external)
    - to: []
      ports:
        - protocol: TCP
          port: 443
  policyTypes:
    - Ingress
    - Egress
