---
service_name: "user-service"
service_port: 8003
image_repository: "quantsingularity/backend:user-service"
container_name: "user-service"
network_name: "fintech-network"
config_file_path: "/etc/user-service/config.yml"
jwt_secret: "{{ lookup('env', 'JWT_SECRET') | default('CHANGE_ME') }}"
eureka_server_url: "http://eureka-server:8001/eureka"
database_host: "user-db"
database_port: 3306
database_name: "user_service_db"
database_user: "user_service_user"
database_password: "{{ lookup('env', 'DB_PASSWORD') }}"
