apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: paynext-allow-intra-namespace
  namespace: paynext
spec:
  podSelector: {}
  ingress:
    - from:
        - podSelector: {}
  policyTypes:
    - Ingress
