# Eureka Server Configuration

# Eureka Server Port
server.port=8761

# Instance Info
eureka.instance.hostname={{ eureka_server_hostname }}
eureka.client.register-with-eureka=false
eureka.client.fetch-registry=false
eureka.client.serviceUrl.defaultZone={{ eureka_client_service_url }}
