<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="layout :: head"></head>

<body>
<nav th:replace="layout :: header"></nav>

<div class="container" id="main-content">
	<div class="row d-flex justify-content-center">
		<div>
			<blockquote class="blockquote text-center">
				<h1>Oops! Something went wrong</h1>
				<br>
				<p class="mb-0">
					The page you're looking for may have been moved, renamed, or is temporarily unavailable in PayNext.
				</p>
				<br>
				<form style="min-width: 300px;" action="#" th:action="@{/}">
					<input type="submit" class="btn btn-info" value="Go to PayNext Home" />
				</form>
			</blockquote>
		</div>
	</div>
</div>

</body>
</html>
