<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Book List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
<h1>Available Books</h1>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Authors</th>
        <th>Publisher</th>
        <th>Price</th>
        <th>Actions</th>
    </tr>
    <tr th:each="book : ${books}">
        <td th:text="${book.name}">Book Name</td>
        <td th:text="${book.authors}">Authors</td>
        <td th:text="${book.publisher}">Publisher</td>
        <td th:text="${book.price}">Price</td>
        <td>
            <a th:href="@{/books/{id}(id=${book.id})}">View</a>
            <a th:href="@{/books/edit/{id}(id=${book.id})}">Edit</a>
            <a th:href="@{/books/delete/{id}(id=${book.id})}">Delete</a>
        </td>
    </tr>
</table>
<a href="/books/add">Add New Book</a>
</body>
</html>
