<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="layout :: head"></head>

<body>
<nav th:replace="layout :: header"></nav>

<div class="container" id="main-content">
	<h1>Payment Methods</h1>

	<div class="row">
		<div class="col-12 text-right">
			<a href="/payment/form" class="btn btn-primary">Add Payment Method</a>
		</div>
	</div>

	<table class="table table-bordered mt-4">
		<thead>
		<tr>
			<th>ID</th>
			<th>Card Number</th>
			<th>Expiry Date</th>
			<th>Actions</th>
		</tr>
		</thead>
		<tbody>
		<tr th:each="paymentMethod : ${paymentMethods}">
			<td th:text="${paymentMethod.id}"></td>
			<td th:text="${paymentMethod.cardNumber}"></td>
			<td th:text="${paymentMethod.expiryDate}"></td>
			<td>
				<a th:href="@{/payment/form(id=${paymentMethod.id})}" class="btn btn-warning">
					<i class="fa fa-edit"></i> Edit
				</a>
				<form th:action="@{/payment/delete(id=${paymentMethod.id})}" method="post" style="display:inline;">
					<button type="submit" class="btn btn-danger">
						<i class="fa fa-trash"></i> Delete
					</button>
				</form>
			</td>
		</tr>
		</tbody>
	</table>
</div>

<footer th:replace="layout :: footer"></footer>
</body>
</html>
