<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="layout :: head"></head>

<body>
<nav th:replace="layout :: header"></nav>

<div class="container" id="main-content">
	<h1>Your Orders</h1>

	<table class="table table-bordered mt-4">
		<thead>
		<tr>
			<th>Order ID</th>
			<th>Date</th>
			<th>Total Amount</th>
			<th>Actions</th>
		</tr>
		</thead>
		<tbody>
		<tr th:each="order : ${orders}">
			<td th:text="${order.id}"></td>
			<td th:text="${order.date}"></td>
			<td th:text="${order.totalAmount}"></td>
			<td>
				<a th:href="@{/order(id=${order.id})}" class="btn btn-info">
					<i class="fa fa-eye"></i> View
				</a>
			</td>
		</tr>
		</tbody>
	</table>
</div>

<footer th:replace="layout :: footer"></footer>
</body>
</html>
